<!DOCTYPE html>
<html>
<body>
<h1>Welcome to the Coniferous Cauldron!</h1>
<img src="/images/sequoia.jpg" alt="Young Sequoiadendron Giganteum" width="500" height="700" title="3-4 month old Giant Sequoia"/>


<h3>Start your own plant shop here!  We buy, sell, and trade plants.  Start an account today and take stock of your inventory, </h3>
<h3>Or log in if you already have an account with us!</h3>

<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

</body>
</html>
