<html>
<h1>Add a New Plant to the Collection!</h1>
 
<form action="/<%=@user.username%>/plants/<%= @id %>" method="POST">
  <label>Plant Species:  </label>
  <input type="text" name="species" id = "species_id">
  <br>
  <label>Plant Sprout Date:  </label>
  <input type="datetime" name="sprout_date" id="date_id">
  <br>
  <label>Plant Price:  </label>
  <input type="float" name="price" id = "price_id">
  <br>
  <label>Plant Quantity:  </label>
  <input type="integer" name="quantity" id = "quantity_id">
  <br>
 
  <input type="submit" value="Create Plant">
</form>
</html>