<h3>Sign Up</h3>
<p><%= @error %></p>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name:">
  <input type="text" name="username" placeholder="Username:">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">

  <h3>Already have an account?  <a href="/login">Log In</a></h3>
</form>
